/* styles.css */

section {
    margin-bottom: 0px;
}

main {
    margin-top:200px;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    height: 100%;
}

footer {
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    font-size: 14px;
    border-top: 2px solid #e0e0e0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Marjaana*/

.header-logo{
    width: 10vh;
}

.bg-item{
    height: 100vh;
    object-fit: cover;
    width: 100%;
    position: absolute;
}